.footer {
    background-color: #1B1B1B;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    
    &__container {
        display: flex;
        align-items: center;
        gap: 100px;

        &__links {
            flex: 1 1 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            color: white;
            font-size: 16px; 
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            &__img {
                width: 240px;
            }

            &__link {
                color: white;
                font-size: 16px; 
                font-weight: 400;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    color: #F9ED32;
                }
            }
        }
    }

    &__end {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .copyright {
            text-align: center;
        }

        &__social {
            display: flex;
            justify-content: flex-end;
            gap: 16px;

            img {
                width: 30px;
            }
        }
    }


    @media (max-width: 768px) {
        padding-left: 2%;
        padding-right: 2%;

        &__container {
            gap: 20px;
            flex-direction: column;

            &__links {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &__end {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;

            &__social {
                justify-content: center;
            }
        }
    }
}