.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    
    padding-left: 5%;
    padding-right: 5%;

    &__nav {
        display: flex;
        gap: 78px;

        &__item {
            color: white;
            font-size: 16px; 
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: #F9ED32;
            }
        }
    }

    @media (max-width: 768px) {
        padding-left: 2%;
        padding-right: 2%;

        &__nav {
            gap: 5px;
            flex-direction: column;
        }
    }

}