.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: black;
    padding-bottom: 100px;
    
    
    &__header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: url('../../assets/bg-head.png');
        background-size: contain;
        background-position: top right;
        width: 100%;
        background-repeat: no-repeat;

        &__title {
            font-size: 24px;
            font-weight: 500;
        }

        &__button {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            background-color: #F9ED32;
            color: black;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 5px;
            font-weight: 500;
            transition: .2s;
            display: inline-block;

            &:hover {
                background-color: darken(#F9ED32, 10%);
            }
        }
    }

    .form {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        margin: auto;
        width: 1100px;
        max-width: 90%;
        background: #FDFACB;
        color: black;
        border-radius: 5px;
        padding-bottom: 50px;

        &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &__group {
            display: flex;
            flex-direction: column;
            gap: 2px;
            margin-bottom: 20px;

            label {
                font-size: 14px;
                font-weight: 400;
                color: #555555;
            }

            input {
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: #fff;
                color: black;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, .08);
                transition: .2s;

                &:focus {
                    border-color: #F9ED32;
                }
            }
        }

        &__error {
            color: rgb(156, 15, 15);
            font-size: 14px;
            font-weight: 400;
        }

        &__button {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            background-color: #F9ED32;
            color: black;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 5px;
            font-weight: 500;
            transition: .2s;
            display: inline-block;
            width: 260px;
            margin: auto;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: darken(#F9ED32, 10%);
            }
        }
    }
}