.login {
    background-color: #F7F3BB;
    padding: 100px 50px;
    color: black;

    &__container {
        background-color: rgba(#E6F3FF, .75);
        box-shadow: 0px 0px 30px rgba(black, .08);
        border-radius: 10px;
        max-width: 1000px;
        margin: auto;


        display: flex;
        align-items: center;

        
        &__left {
            padding: 40px 10px;
            
            img {
                width: 300px;
            }
        }

        .form {
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 100%;
            border-radius: 10px;

            &__title {
                font-size: 20px;
                font-weight: 600;
                margin-top: 50px;
                margin-bottom: 30px;
                color: black;
                text-align: center;
            }

            &__input {
                display: flex;
                flex-direction: column;
                max-width: 400px;
                margin: auto;
                margin-bottom: 20px;

                label {
                    font-size: 13px;
                    line-height: 1.1em;
                    font-weight: 400;
                    color: #7C838A;
                    font-weight: 500;
                }

                input {
                    background-color: #DDE2E7;  
                    border: none;
                    padding: 8px 20px;
                    border-radius: 8px;
                    color: #9EA4AA;
                    outline: none;
                    border: solid 1px transparent;

                    &:focus {
                        border: solid 1px #dfdfdf;
                    }

                    &::placeholder {
                        color: #9EA4AA;
                    }
                }
            }

            &__button {
                background-color: #F9ED32;
                border: none;
                padding: 10px 30px;
                border-radius: 8px;
                color: black;
                font-weight: 500;
                cursor: pointer;
                margin: auto;
                display: block;
                margin-top: 20px;
                margin-bottom: 25px;
                transition: background-color .3s;

                &:hover {
                    background-color: darken(#F9ED32, 10%);
                }
            }

            &__link {
                text-align: center;
                font-size: 14px;
                color: #7C838A;
                margin-top: 20px;
                display: block;
                text-decoration: none;
            }

            &__or {
                text-align: center;
                font-size: 14px;
                color: #B0BAC3;
                margin-top: 20px;
                font-weight: 500;
                display: block;
            }

            &__social {
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 10px;
                
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 5px;
                    border-radius: 10px;
                    border: solid 1px #7C838A;
                    background-color: white;
                    color: #7C838A;
                    font-weight: 500;
                    cursor: pointer;
                    transition: .2s;

                    

                    &:hover {
                        background-color: rgb(241, 241, 241)
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }
                }
            }

            &__footer {
                text-align: center;
                font-size: 14px;
                color: #B0BAC3;
                margin-top: 20px;
                margin-bottom: 40px;
                font-weight: 500;
                display: block;
            }
        }
    }
}