.admin {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    padding-bottom: 100px;
    padding-top: 60px;
    
    &__container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
        
        &__title {
            text-align: left;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }

    &__blocs {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .blocs__item {
            width: 30%;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

            &__value {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            &__label {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    .input {
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        background: transparent;
        font-size: 14px;
        color: #555;
        font-weight: 300;
    }

    .table__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 4px;
        margin-top: 20px;
    }

    &__table {
        margin-top: 50px;
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;

        
        

        thead {
            background: #f5f5f5;
            border-bottom: 1px solid #c0c0c0;

            tr {
                th {
                    padding: 10px;
                    font-weight: 500;
                }
            }

        }

        tbody {
            tr {
                border-bottom: 1px solid #e0e0e0;

                &:last-child {
                    border-bottom: none;
                }

                td {
                    padding: 10px;
                    font-weight: 300;
                }
            }
        }
    }
}