.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: black;
    padding-bottom: 20px;
    
    
    &__header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: url('../../assets/bg-head.png');
        background-size: contain;
        background-position: top right;
        width: 100%;
        background-repeat: no-repeat;

        &__title {
            font-size: 24px;
            font-weight: 500;
        }

        &__profile {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
        }

        &__button {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            background-color: #F9ED32;
            color: black;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 5px;
            font-weight: 500;
            transition: .2s;
            display: inline-block;

            &:hover {
                background-color: darken(#F9ED32, 10%);
            }
        }
    }

    &__participations {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 50px;
        margin-bottom: 100px;
        width: 100%;

        &__title {
            font-size: 24px;
            font-weight: 500;
        }

        .part {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: rgba(#F9ED32, .25);
            color: black;
            text-decoration: none;
            transition: .2s;

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }

            &__details {
                display: flex;
                flex-direction: column;
                gap: 0px;

                &__code {
                    label {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1em;
                    }
                    
                    span {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1em;
                        letter-spacing: 2px;
                    }
                }

                &__date {
                    font-size: 14px;
                    font-weight: 500;

                    label {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1em;
                    }
                }
            }

            &__result {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}