.game {
    background-color: #f5f5f5;
    background-image: url('../../assets/bg-head.png');
    background-size: contain;
    background-position: top right;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 100px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000;
        max-width: 1200px;
        padding-left: 5%;
        padding-right: 5%;
        margin: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        

        &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &__description {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 20px;
            opacity: .6;
            max-width: 500px;
        }

        img {
            width: 300px;
            height: 300px;

            @media (max-width: 768px) {
                width: 120px;
                height: 120px;
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        margin: auto;
        width: 1100px;
        max-width: 90%;
        background: #FDFACB;
        color: black;
        border-radius: 5px;
        padding-bottom: 50px;

        &__title {
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            padding-top: 50px;
            margin-bottom: 20px;
        }

        label {
            font-size: 14px;
            font-weight: 400;
            color: #555555;
        }

        input {
            padding: 10px;
            border-radius: 5px;
            border: none;
            margin-bottom: 20px;
            background-color: #fff;
            color: black;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, .08);
            transition: .2s;

            &:focus {
                border-color: #F9ED32;
            }
        }

        &__error {
            color: red;
            font-size: 14px;
            font-weight: 500;
        }

        &__button {
            background-color: #F9ED32;
            color: black;
            text-decoration: none;
            padding: 10px 30px;
            width: 260px;
            margin: auto;
            border: none;
            border-radius: 5px;
            font-weight: 600;
            transition: .2s;
            display: inline-block;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: darken(#F9ED32, 10%);
            }
        }
    }
}